---
// src/components/Footer.astro
---
<footer>
  <div>© 2024 Jonathan Sinaga. All rights reserved.</div>
</footer>

<style>
  footer {
    width: 100%;
    background: var(--footer);
    color: #fff;
    font-size: 0.95rem;
    text-align: center;
    padding: var(--space-3) 0 var(--space-2) 0;
    margin-top: auto;
    position: relative;
    z-index: 2;
  }
</style>