---
/* src/components/Hamburger.astro */
import './Hamburger.css';
---

<div class="hamburgers" id="menuToggleWrapper">
  <label class="hamburger">
    <input type="checkbox" id="menuCheckbox" aria-label="Toggle navigation menu" />
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
</div>