---
import '../styles/common.css'; // Import Global CSS
import Navbar from '../components/Navbar.astro';

// Menerima props 'title' agar setiap halaman bisa punya judul beda
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  
  <link rel="preload" as="image" href="/Imagery/icons/SolidWorks_logo.webp">
  <link rel="preload" as="image" href="/Imagery/icons/Blender_Logo.webp">
  <link rel="preload" as="image" href="/Imagery/icons/Unity_logo.webp">
</head>
<body>

  <Navbar />

  <main>
    <slot />
  </main>

  <footer>
    <div>© 2024 Jonathan Sinaga. All rights reserved.</div>
  </footer>

</body>
</html>